ul {
    flex-direction: row;
    list-style-type: none; /* Remove bullet points from list items */
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
